//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.audience-vote-1 div {
    // background-color: red;
    width: 100%;
    height: 50px;
}

.audience-vote-1 div > div {
    background-color: blue;
    width: 20%;
    height: 100%;
}
.audience-vote-2 div {
    // background-color: red;
    width: 100%;
    height: 50px;
}

.audience-vote-2 div > div {
    background-color: blue;
    width: 60%;
    height: 100%;
}
.audience-vote-3 div {
    // background-color: red;
    width: 100%;
    height: 50px;
}

.audience-vote-3 div > div {
    background-color: blue;
    width: 20%;
    height: 100%;
}
.audience-vote-4 div {
    // background-color: red;
    width: 100%;
    height: 50px;
}

.audience-vote-4 div > div {
    background-color: blue;
    width: 20%;
    height: 100%;
}