{% extends "layouts/main.html" %} {% block pageTitle %} Check your answers
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    You’ve set your cookie preferences. <a class="govuk-notification-banner__link" href="/">Go back to the start of the game</a>.
  </p>
{% endset %}

<div class="govuk-grid-row">
  <div id="message-success" hidden>
    {{ govukNotificationBanner({
      type: "success",
      html: html
    }) }}
  </div>
  <noscript>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Change your cookie settings</h2>
        <p class="govuk-body">We cannot change your cookie settings at the moment because JavaScript is not running in your browser. To fix this, try:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>turning on JavaScript in your browser settings</li>
          <li>reloading this page</li>
        </ul>
      </div>
    <style>
      #cookie-form {display: none}
    </style>
  </noscript>
  <div id='cookie-form' class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Change your cookie settings</h2>
    <div>
      {{ govukRadios({
          name: "functional-cookies",
          
          fieldset: {
            legend: {
              text: "Do you want to accept functional cookies?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}

        {{ govukRadios({
          name: "analytics-cookies",
          fieldset: {
            legend: {
              text: "Do you want to accept analytics cookies?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save cookie settings",
          id: "save-cookie-settings"
        }) }}
    </div>
  </div>
</div>

<Container style="margin: auto; max-width: 3xl; padding: 6px">
  <h1 class="govuk-heading-l" style="padding-bottom: 4px">Cookie Policy</h1>

  <p style="padding-bottom: 4px">
    <strong>What Are Cookies</strong>
  </p>

  <p>
    As is common practice with almost all professional websites, this site uses
    cookies, which are tiny files that are downloaded to your computer, to
    improve your experience. This page describes what information they gather,
    how we use it, and why we sometimes need to store these cookies. We will
    also share how you can prevent these cookies from being stored; however,
    this may downgrade or 'break' certain elements of the site's functionality.
  </p>
  <br />
  <p style="padding-bottom: 4px">
    <strong>How We Use Cookies</strong>
  </p>

  <p>
    We use cookies for a variety of reasons detailed below. Unfortunately, in
    most cases, there are no industry standard options for disabling cookies
    without completely disabling the functionality and features they add to this
    site. It is recommended that you leave all cookies enabled if you are not
    sure whether you need them or not, in case they are used to provide a
    service that you use.
  </p>
  <br />
  <p style="padding-bottom: 4px">
    <strong>Disabling Cookies</strong>
  </p>

  <p>
    You can prevent the setting of cookies by adjusting the settings on your
    browser (refer to your browser's Help for instructions). However, please be
    aware that disabling cookies will affect the functionality of this and many
    other websites that you visit. Disabling cookies will usually result in also
    disabling certain functionality and features of this site. Therefore, it is
    recommended that you do not disable cookies.
  </p>
  <br />
  <p>
    <strong>The Cookies We Set</strong>
  </p>
  <br />
  <ul>
    <li>
      <p>Account related cookies</p>
      <p>
        If you create an account with us, we will use cookies for the management
        of the signup process and general administration. These cookies will
        usually be deleted when you log out; however, in some cases, they may
        remain afterwards to remember your site preferences when logged out.
      </p>
    </li>
    <br />
    <li>
      <p>Login related cookies</p>
      <p>
        We use cookies when you are logged in so that we can remember this fact.
        This prevents you from having to log in every single time you visit a
        new page. These cookies are typically removed or cleared when you log
        out to ensure that you can only access restricted features and areas
        when logged in.
      </p>
    </li>
    <br />
    <li>
      <p>Forms related cookies</p>
      <p>
        When you submit data through a form, such as those found on contact
        pages or comment forms, cookies may be set to remember your user details
        for future correspondence.
      </p>
    </li>
  </ul>
  <br />
  <p style="padding-bottom: 4px">
    <strong>Third Party Cookies</strong>
  </p>

  <p>
    In some special cases, we also use cookies provided by trusted third
    parties. The following section details which third-party cookies you might
    encounter through this site.
  </p>
  <br />
  <ul>
    <li>
      <p>
        This site uses Google Analytics, which is one of the most widespread and
        trusted analytics solutions on the web for helping us understand how you
        use the site and ways that we can improve your experience. These cookies
        may track things such as how long you spend on the site and the pages
        that you visit, so we can continue to produce engaging content.
      </p>
    </li>
    <br />
    <li>
      <p>
        From time to time, we test new features and make subtle changes to the
        way the site is delivered. When we are still testing new features, these
        cookies may be used to ensure that you receive a consistent experience
        while on the site, and to understand which optimizations our users
        appreciate the most.
      </p>
    </li>
  </ul>
  <br />
  <p style="padding-bottom: 4px">
    <strong>More Information</strong>
  </p>
  <p>
    Hopefully, that has clarified things for you. As mentioned earlier, if there
    is something you aren't sure whether you need or not, it's usually safer to
    leave cookies enabled in case they do interact with one of the features you
    use on our site.
  </p>
  <br />
  <p>
    However, if you are still looking for more information, you can contact us
    through one of our preferred contact methods:
    <br />
    <br />
    Contact: AccessForce@mockmail.com
  </p>
  
</Container>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/cookies-page.js"></script>
{% endblock %}