{% extends "layouts/main.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Thank you for completing the quiz</h1>
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Congratulations {{ data.name + " " +  data["surname"] }}
        </h1>
        <h3 class="govuk-panel__title-m">
          Your score was <br><strong><span>1 </span>out of 3</strong>
        </h3>      
      </div>
  
      <p>
        Question 1: {{ data['question-one'] === 'Perceptible Information'}} Perceptible Information was the correct answer.
      </p>

      <p>
        Question 2: {{ data['question-two'] }} this was the correct answer
      </p>

      <p>
        Question 3: {{ data['question-three'] }} this was the correct answer
      </p>
   
      <form class="form" action="/clear-data" method="post">
        {{ govukButton({ text: "Start Again" }) }}
      </form>
    </div>
  </div>

{% endblock %}
