{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Congratulations",
        html: "Your score is<br><strong>1 out of 3</strong>"
      }) }}

     

      <h2 class="govuk-heading-m">
        Answers submitted
      </h2>

      <p>
        Question 1: {{ data['question-one'] }} this was the correct answer
      </p>

      <p>
        Question 2: {{ data['question-two'] }} this was the correct answer
      </p>

      <p>
        Question 3: {{ data['question-three'] }} this was the correct answer
      </p>
      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
