{% extends "layouts/main.html" %} 



{% set pageName="Home" %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Welcome to the WCAG Quiz!</h1>

    <p class="govuk-body-m">
      Get ready to test your knowledge and dive deep into the fascinating world
      of WCAG (Web Content Accessibility Guidelines). WCAG plays a crucial role
      in making the web inclusive and accessible to everyone, regardless of
      their abilities.
      <br />
      <br />

      Remember, WCAG is not just about compliance—it's about empathy and
      inclusivity. So, let's strive to create a web that is accessible to
      everyone, ensuring equal access to information and opportunities.
      <br />
      <br />

      Best of luck on your WCAG Quiz adventure! May you gain knowledge, broaden
      your perspectives, and contribute to a more inclusive online world.
    </p>

    <br />

    {{
    govukButton({ text: "Start now", href: "/info-page", isStartButton: true })
    }}
  </div>
</div>

{% endblock %}
