{% extends "layouts/main.html" %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Player information
      </h1>

      <form class="form" action="/age-answer" method="post" novalidate>

        {{ govukInput({
        label: {
          text: "First Name",
          classes: "govuk-label--m"
        },
        hint: {
          text: "For example, Loren"
        },
          classes: "govuk-input--width-10",
          id: "name",
          name: "name",
          value: data["name"] 
        }) }}

        {{ govukInput({
          label: {
            text: "Surname",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, Thurman"
          },
            classes: "govuk-input--width-10",
            id: "surname",
            name: "surname",
            value: data["surname"]
          }) }}

          {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "For example, 27 3 2007"
            },
            items: [
            {
              name: 'day',
              classes: 'govuk-input--width-2',
              value: data['dob-day']
            },
            {
              name: 'month',
              classes: 'govuk-input--width-2',
              value: data['dob-month']
            },
            {
              name: 'year',
              classes: 'govuk-input--width-4',
              value: data['dob-year']
            }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
        

    </div>
  </div>

{% endblock %}
{% block pageScripts %}
  <script type="module" src="/public/javascripts/info-validation.js"></script>
{% endblock %}