{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Player information
      </h1>

      <form class="form" action="/age-answer" method="post">

        {{ govukInput({
        label: {
          text: "First Name",
          classes: "govuk-label--m"
        },
        hint: {
          text: "For example, Loren"
        },
          classes: "govuk-input--width-10",
          id: "name",
          name: "name",
          value: data["name"]
        }) }}

        {{ govukInput({
          label: {
            text: "Surname",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, Thurman"
          },
            classes: "govuk-input--width-10",
            id: "surname",
            name: "surname",
            value: data["surname"]
          }) }}

        {{ govukInput({
          label: {
          text: "Age",
          classes: "govuk-label--m"
        },
          hint: {
          text: "For example, 21"
        },
          classes: "govuk-input--width-2",
          id: "age",
          name: "age",
          value: data["age"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
