{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">
        Question 2
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        {{ govukCheckboxes({
          name: "countries",
          fieldset: {
            legend: {
              text: "Which of the following are important considerations for ensuring web accessibility?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "(Select all that apply)"
          },
          items: [
            {
              value: "1",
              text: "Providing alternative text for images"
            },
            {
              value: "2",
              text: "Using complex color schemes for visual appeal"
            },
            {
              value: "3",
              text: "Ensuring keyboard accessibility"
            },
            {
              value: "4",
              text: "Exclusively relying on audio content"
            },
            {
              value: "5",
              text: "Implementing responsive design for mobile devices"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above",
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{
          govukButton({ text: "Continue", href: "/question-three" }) 
        }}

      </form>

    </div>
  </div>

{% endblock %}
