{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}
{{
  govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}}
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">Question 2</h1>

    <form class="form" id="question-form" action="/question-three" method="post">
      {{
        govukCheckboxes({
          name: "question-two",
          id: "question-two",
          value: data["question-two"],
          fieldset: {
            legend: {
              text: "Which of the following are important considerations for ensuring web accessibility?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Providing alternative text for images",
              text: "Providing alternative text for images"
            },
            {
              value: "Using complex color schemes for visual appeal",
              text: "Using complex color schemes for visual appeal"
            },
            {
              value: "Ensuring keyboard accessibility",
              text: "Ensuring keyboard accessibility"
            },
            {
              value: "Exclusively relying on audio content",
              text: "Exclusively relying on audio content"
            },
            {
              value: "Implementing responsive design for mobile devices",
              text: "Implementing responsive design for mobile devices"
            },
            {
              divider: "or"
            },
            { value: "none", text: "None of the above", behaviour: "exclusive" }
          ]
        })
      }}
      {{ govukButton({ text: "Continue" }) }}
    </form>
    <a id="hint" target="_blank" href="https://abilitynet.org.uk/news-blogs/what-wcag-and-why-does-it-matter-day">{{ govukButton({ text: "Hint", classes: "govuk-button--warning" }) }}</a>
  
  </div>
</div>
{% endblock %}
{% block pageScripts %}
  <script type="module" src="/public/javascripts/question-two.js"></script>
{% endblock %}
