{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-heading-m">Well done {{data['name']}}, that was correct.</p>


      <form class="question-form" action="/final-score" method="post">
        {{
          govukRadios({
            id: "question-three",
            name: "question-three",
            value: data["question-three"],
            fieldset: {
              legend: {
                text: "What does the 'A' stand for in WCAG?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "anniversary",
                text: "anniversary"
              },
              {
                value: "accessibility",
                text: "accessibility"
              },
              {
                value: "aristocracy",
                text: "aristocracy"
              },
              {
                value: "antianxiety",
                text: "antianxiety"
              }
            ]
          })
        }}
        {{ govukButton({ text: "Continue", id: "submit-button" }) }}

      </form>
      {{ govukButton({ text: "Ask the audience", id: "ask-the-audience", classes: "govuk-button--warning"}) }}
<div id="govuk-accordion" hidden>
      {{ govukAccordion({
        id: "Ask-the-audience-accordion",
        items: [
          {
            heading: {
              text: "anniversary"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
            }
          },
          {
            heading: {
              text: "accessibility"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
            }
          },
          {
            heading: {
              text: "aristocracy"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
            }
          },
          {
            heading: {
              text: "antianxiety"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for How people read.</p>"
            }
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
